
// Colors Definitions
@white:             #fff;
  @off-white:       #e3e3e3;

@gray:              #888;
  @light-gray:      #ccc;
  @dark-gray:       #666;

@black:             #3f3f3f;


@blue:              #6ca0c8;
  @light-blue:      #b5cfe3;
  @dark-blue:       #2e77b0;

@orange:            #e9b545;
  @light-orange:    #f0cb7c;
  @dark-orange:     #d9a330;

@purple:            #ae84c2;
  @light-purple:    #c6a9d4;
  @dark-purple:     #9166a5;

@trans:            transparent;


/**
 * Be nice and share your color swatches ;)
 *
 *  @white:            #fff;
 *    @off-white:      #e3e3e3;
 *
 *  @gray:             #888;
 *  @light-gray:       #ccc;
 *    @dark-gray:      #666;
 *
 *  @black:            #3f3f3f;
 *
 *
 *  @blue:             #6ca0c8;
 *    @light-blue:     #b5cfe3;
 *    @dark-blue:      #2e77b0;
 *
 *  @orange:           #e9b545;
 *    @light-orange:   #f0cb7c;
 *    @dark-orange:    #d9a330;
 *
 *  @purple:           #ae84c2;
 *    @light-purple:   #c6a9d4;
 *    @dark-purple:    #9166a5;
 *
 *  @trans:            transparent;
 *
 */



// MAX TEMPLATE WIDTH
@max-width:        96rem;

@border-radius:    0.3rem;

// ========== IMAGE DIRECTORIES ========== //

.app(@imgname)   { background-image: url('@{images}socialstore/@{imgname}'); }



// ========== FONTS ========== //
@fonts:           'fonts/';

.fontface(@font-alias, @file-name, @fontweight: normal, @fontstyle: normal) {
  @font-face {
    font-family: '@{font-alias}';
    src: url('@{fonts}@{font-alias}/@{file-name}.eot');
    src: url('@{fonts}@{font-alias}/@{file-name}.eot?#iefix') format('embedded-opentype'),
         url('@{fonts}@{font-alias}/@{file-name}.svg') format('svg'),
         url('@{fonts}@{font-alias}/@{file-name}.ttf') format('truetype');
    font-weight: @fontweight;
    font-style: @fontstyle;
  }
}

// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono);

// ----- @FONT-FACE HERE ----- //
// .fontface('fontalias', '-webfont', normal, normal);


// ----- FONT ALIASES ----- //
@sans:      'Source Sans Pro', sans-serif;
@mono:      'Source Code Pro', monospace;

// @sans:      'Droid Sans', sans-serif;
// @mono:      'Droid Sans Mono', monospace;


@light:     300;
@regular:   400;
@bold:      600;


// ========== Layout dimensions ========== //
//
// You may need to wrap each equation with floor()
// if you're using raw pixel values.
//
// Use percentages for maximum flexibility
//
@fullsize:  100%;

@1_2:       @fullsize   / 2;

@1_3:       @fullsize   / 3;
@2_3:       @1_3        * 2;

@1_4:       @fullsize   / 4;
@3_4:       @1_4        * 3;

@1_5:       @fullsize   / 5;
@2_5:       @1_5        * 2;
@3_5:       @1_5        * 3;
@4_5:       @1_5        * 4;

@1_6:       @fullsize   / 6;
@5_6:       @1_6        * 5;

@1_7:       @fullsize   / 7;
@2_7:       @1_7        * 2;
@3_7:       @1_7        * 3;
@4_7:       @1_7        * 4;
@5_7:       @1_7        * 5;
@6_7:       @1_7        * 6;

@1_8:       @fullsize   / 8;
@3_8:       @1_8        * 3;
@5_8:       @1_8        * 5;
@7_8:       @1_8        * 7;



// ========== CUSTOM MIXINS ========== //
.box-sizing(@size: border-box) {
  -webkit-box-sizing: @size;
  -moz-box-sizing: @size;
  -ms-box-sizing: @size;
  box-sizing: @size;
}

.box-shadow(@props) {
  -webkit-box-shadow: @props;
  box-shadow: @props;
}

.linear-gradient(@origin: top, @start: @white 0%, @end: #222 100%) {
  background-image: -webkit-linear-gradient(@origin, @start, @end);
  background-image: -moz-linear-gradient(@origin, @start, @end);
  background-image: -o-linear-gradient(@origin, @start, @end);
  background-image: -ms-linear-gradient(@origin, @start, @end);
  background-image: linear-gradient(@origin, @start, @end);
}

.transition(@atts: all, @time: 0.3s, @easing: linear) {
  -webkit-transition: @atts @time @easing;
  -moz-transition: @atts @time @easing;
  -o-transition: @atts @time @easing;
  -ms-transition: @atts @time @easing;
  transition: @atts @time @easing;
}

.font-smoothing(@smoothing: subpixel~'-'antialiased) {
  -webkit-font-smoothing: @smoothing;
  font-smoothing: @smoothing;
}

.placeholder(@color: @light-gray, @font-style: normal, @font-weight: normal) {
  ::-webkit-input-placeholder { color: @color; font-style: @font-style; font-weight: @font-weight; }
  :-moz-placeholder           { color: @color; font-style: @font-style; font-weight: @font-weight; }
  ::-moz-placeholder          { color: @color; font-style: @font-style; font-weight: @font-weight; }
  :-ms-input-placeholder      { color: @color; font-style: @font-style; font-weight: @font-weight; }
}

.text-size-adjust(@adjust: 100%) {
  -ms-text-size-adjust: @adjust;
  -webkit-text-size-adjust: @adjust;
}


