@import "_config";
@import "_normalize";
@import "_ui";
@import "_typography";



#message {
  position: relative;
  margin: 0 auto;
  width: 600px;
  color: @gray;
  font-weight: @light;
  text-align: justify;
  font-size: 2.1rem;

  h1 {
    color: @gray;
    text-align: center;
    font-weight: inherit;
    font-size: 5.7rem;
  }

  .config-form {
    padding: 0;
    margin: 0;
  }

  label, input, textarea, select {
    font-weight: inherit;
    margin: 0.3rem 0;
  }

  label {
    text-align: right;
    width: 34%;
  }

  input, textarea, select {
    width: 65%;
  }

  .submit-button {
    display: block;
    margin: 3rem auto;
    width: 30%;
  }
}