### FILES ###
.DS_Store
*.DS_Store
README---DRAFT.md
app/README.md


### DIRECTORIES ###



### TESTING SPECIFIC FILES/DIRECTORIES ###
vendor/
projects/
_design/

dragonspiritmedia/

composer.lock


testing-awesome.md

*---DRAFT.md
*.TODO

pages/images
app/plugins/about
app/plugins/works
works.md