### FILES ###
.DS_Store
*.DS_Store
README---DRAFT.md
app/README.md


### DIRECTORIES ###



### TESTING SPECIFIC FILES/DIRECTORIES ###
vendor/
projects/
_design/

dragonspiritmedia/

composer.lock

works.md
app/plugins/works/*

testing-awesome.md

*---DRAFT.md