### FILES ###
.DS_Store
*.DS_Store
README---DRAFT.md
app/README.md


### DIRECTORIES ###



### TESTING SPECIFIC FILES/DIRECTORIES ###
vendor/
projects/
_design/

dragonspiritmedia/

composer.lock


testing-awesome.md

*---DRAFT.md
*.TODO

content/images/*
content/images/*/*.jpg
content/images/*/*.png
content/images/*/*.gif
content/images/*/*.jpeg
app/plugins/about/
app/plugins/works/
works.md