
<IfModule mod_rewrite.c>
  RewriteEngine on
  # in this case, our app bootstrap file is index.php
  RewriteRule !\.(js|html|ico|gif|jpg|png|css|woff|woff2|eot|svg|txt)$ index.php
</IfModule>

# ErrorDocument 404 /error/404
