<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>TEMPLATE NAME</title>

  <meta name="description" content="{{PAGE_DESCRIPTION}}">
  <meta name="keywords"    content="{{PAGE_KEYWORDS}}">
  <meta name="author"      content="{{PAGE_AUTHOR}}">

  <meta name="viewport" content="width=device-width">

  <link rel="author" href="humans.txt">

  <link rel="stylesheet" href="css/style.css">

</head>


<body role="main">

  <section></section>



  <!-- ===== INCLUDE JS LIBS ===== -->
  <script src=""></script>
  <script src="js/libs/modernizr.min.js"></script>
  <script src="js/libs/fitvids.min.js"></script>


  <!-- ===== INCLUDE JS SCRIPTS ===== -->
  <script src="js/plugins.js"></script>


  <script>
    // Google Analytics
    var _gaq=[['_setAccount','GOOGLEANALYTICS'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>